extensions = [
    'sphinx.ext.autodoc',
    'sphinx.ext.viewcode',
]
master_doc = 'index'
project = '{{project_name}}'
copyright = 'Copyright (c) {{maintainer_name}}'
author = '{{maintainer_name}}'
version = ''

exclude_patterns = ['.ipynb_checkpoints/**']
